
/*
.img{
    background-image: url(../images/slika2.jpg);
    height: 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/
.frame{
    margin-left: auto;
    margin-right: auto;
    
    width: 800px;    
}

.frame_header{
    height: 200px;
    background-color: white;
    border-style: solid;
	border-color: lightgray;
	border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.korisnik_slika{
    margin-left: -1px;
    margin-top: -1px;
    width:190px;
    height:200px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info{
    width: 400px;
    height: 200px; 
    float:left;
    font-size: 10pt;
    padding-left: 10px;
    padding-top: 10px;
}

.ime{
    font-size: 23pt;
    padding-bottom: 15px;
    
}

.info_dodatno{
    text-align: right;
    padding: 12px;
    color: #D0D0D0  ;
    width: 150px;
    height: 200px;
    float: right;
    font-size: 10pt;
    
}

.button{
    margin-top:80px;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.oglasi, .favoriti{
    margin-top: 15px;
    border-style: solid;
	border-color: lightgray;
	border-width: 1px;
    padding: 10px;
    padding-left: 5px;
    font-size: 12pt;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.broj_oglasa{
    padding-left: 10px;
}

.section-message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -180px;
    width: 360px;
    height: 450px;
    text-align: center;
}

#slika_oglasa{
    height: 150px;
    width: auto;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.oglas_mini{
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    width:280px;
}

.oglas_naziv{
    padding-bottom: 10px;
    font-size: 16pt;
    
}

.oglas_tip,.oglas_povrsina{
    padding: 4px;
    border-style: solid;
	border-color: lightgray;
	border-width: 1px;
    border-radius: 8px;
    width: 67%;
    padding-left: 10px;
    margin-bottom: 5px;    
    background-color: #E8E8E8;   
}

.oglas_datum{
    padding: 4px;
    border-style: solid;
	border-color: lightgray;
	border-width: 1px;
    border-radius: 8px;
    padding-left: 10px;
    width: 82%;
    background-color: #E8E8E8;
}



.oglas_cijena{
    float: right;
    height: 50px;
    width: 180px;
    padding-left: 60px;
    padding-top: 14px;  
    margin-top:35px; 
    font-size: 14pt;
    font-weight: bold;
    background-image: url(../images/novac.png); 
    background-repeat: no-repeat;
    background-size: 180px auto;    
}

.oglas_detaljnije{
    float: right;
    padding-top: 40px;
    padding-right: 10px;
}

.broj_oglasa,.broj_favorita{
    background-color: #E8E8E8;
    text-align: center;
    
}

.thumb {
    width: auto;
    height: 45px;
    margin-top: -135px;
    margin-left: -120px;
    position: relative;    
}

#button_slika{
    width: 100px;
    margin-bottom: 10px;    
}

form .progress {
    line-height: 15px;
    
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #0066FF;
    position: relative;
    margin-left: -158px;
    position: relative;
    
    
        
}

.progress div {
    font-size: smaller;
    background: #00CCFF;
    width: 0;
}

#button_slika1{
    width: 150px;
    margin-bottom: 10px;    
}

