 
    <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-container">
        <form name="loginForm" role="form" ng-controller="LoginController as loginCtrl" ng-submit="loginForm.$valid && loginCtrl.login()" novalidate>

        <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="loginCtrl.user.email" placeholder="E-mail"required />
          <div class="form-error" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
            <small>E-mail adresa nije validna</small>
          </div>
          <div class="form-error" ng-show="loginForm.$submitted && loginForm.email.$error.required">
            <small>E-mail adresa je obavezna</small>
          </div>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" ng-model="loginCtrl.user.password" placeholder="Lozinka" ng-minlength="6" ng-maxlength="20" required />
          <div class="form-error"  ng-show="loginForm.password.$error.minlength">
            <small>Lozinka je prekratka</small>
          </div>
          <div class="form-error"  ng-show="loginForm.password.$error.maxlength">
            <small>Lozinka je preduga</small>
          </div>
          <div class="form-error" ng-show="loginForm.$submitted && loginForm.password.$error.required">
            <small>Lozinka je obavezna</small>
          </div>
        </div>
        <input type="submit" value="Prijava" class="btn btn-primary btn-lg btn-block" />
        <div class="form-error"  ng-show="loginForm.$submitted && !loginCtrl.isAuthed()">
            <small>Netacan e-mail ili lozinka</small>
        </div>
        <div class="form-error"  ng-show="loginForm.$submitted && loginCtrl.isAuthed()">
            Prijava uspjesna
        </div>
      </form>
      </div>
      
      <button type="button" class="btn btn-default btn-lg btn-block" ng-click="navCtrl.selectForm(3)">Registracija</button>
      <br>
      <a href ng-click="navCtrl.selectForm(2)">Zaboravili ste lozinku?</a>
    </div>
    </div>
    
  