<section class="section-registration">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-container">
        <form name="regForm" role="form" ng-controller="LoginController as loginCtrl" ng-submit="regForm.$valid && loginCtrl.register()" novalidate>
        <div class="form-group">
          <input type="text" name="name" class="form-control" ng-model="loginCtrl.user.name" placeholder="Ime i prezime"required />
          <div class="form-error" ng-show="regForm.$submitted && regForm.name.$error.required">
            <small>Unesite svoje ime</small>
          </div>
        </div> 
        <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="loginCtrl.user.email" placeholder="E-mail"required />
          <div class="form-error" ng-show="regForm.email.$invalid && regForm.email.$dirty">
            <small>E-mail adresa nije validna</small>
          </div>
          <div class="form-error" ng-show="regForm.$submitted && regForm.email.$error.required">
            <small>E-mail adresa je obavezna</small>
          </div>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" ng-model="loginCtrl.user.password" placeholder="Lozinka" ng-minlength="6" ng-maxlength="20" required />
          <div class="form-error"  ng-show="regForm.password.$error.minlength">
            <small>Lozinka je prekratka</small>
          </div>
          <div class="form-error"  ng-show="regForm.password.$error.maxlength">
            <small>Lozinka je preduga</small>
          </div>
          <div class="form-error" ng-show="regForm.$submitted && regForm.password.$error.required">
            <small>Lozinka je obavezna</small>
          </div>
        </div> 
        <div class="form-group">
          <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" ng-model="loginCtrl.user.tip" value="korisnik1"> Trazim smjestaj
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" ng-model="loginCtrl.user.tip" value="korisnik2"> Izdajem smjestaj
          </label>
        </div>
        <div class="form-container" ng-show="loginCtrl.typeOfUser()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="loginCtrl.user.drzava" placeholder="Država"/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="loginCtrl.user.grad" placeholder="Grad"/>
          </div>
          <input type="text" class="form-control" ng-model="loginCtrl.user.telefon" placeholder="Telefon"/>
        </div>
        <div class="form-group">
          <div vc-recaptcha key="loginCtrl.publicKey" ></div> 
        </div>
        <div class="form-group">
          <div id="button_slika" class="btn btn-primary btn-lg btn-block" ng-model="picFile" ngf-select="upload($file)">Ucitaj sliku</div>
          <img ng-show="regForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
          <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%" 
              ng-bind="picFile.progress + '%'"></div>
          </span>
          
        </div>
        <input type="submit" value="Registruj se" class="btn btn-primary btn-lg btn-block" />
      </form>
      </div>
      <a href="#login">Nazad na prijavu</a>
    </div>
  </div>
</section>